<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>WikiObsession</title>
  </head>
  <body>
    <h1>Wiki Obsession!</h1>
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Search a Topic From Wikipedia</label>
          <input class="form-control" type="text" placeholder="Topic">
          <small id="emailHelp" class="form-text text-muted">How many times is the topic named drop in the text?.</small>
        </div>
        <a href="/wiki/titles/{WikiTitle}" class="btn btn-info" role="button">Submit</a>
        <script>
           
          </script>
    </form>

  
  </body>
</html>